In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import statistics as stats
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import scipy.stats

### Exploring the CSV files

In [20]:
interestrates = pd.read_csv('interestrates.csv', sep = ',')
interestrates.head()

,Year,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Average of 30 yr FRM,7.54175,7.383269,8.044808,9.187115,9.047115,8.865849,8.845192,9.641731,11.203654,...,4.168868,3.850577,3.654038,3.989808,4.544615,3.935769,3.111698,2.957692,5.344038,6.772

In [21]:
gdppercapita = pd.read_csv('gdppercapita.csv', sep = ',')
gdppercapita.head()

,"GDP per capita, current prices\n (U.S. dollars per capita)",1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,United States,12552.943,13948.701,14404.994,15513.679,17086.441,18199.32,19034.766,20000.968,21375.999,...,65077.295,63577.341,70159.774,76343.247,80412.41,83062.621,85876.648,88935.38,92051.711,95301.969

In [22]:
debtpercentofgdp = pd.read_csv('debtpercentofgdp.csv', sep = ',')
debtpercentofgdp.head()

,DEBT (% of GDP),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,United States,41.18,40.33,44.98,47.85,49.51,54.09,57.52,59.28,60.15,...,63.64,64.01,72.85,86.03,94.73,98.99,102.5,104.62,104.61,105.15

In [23]:
hpi2000base = pd.read_csv('hpi2000base.csv', sep = ',')
hpi2000base.head()

,Year,1976,1977,1978,1979,1980,1981,1982,1983,1984,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,HPI with 2000 base,27.67,31.39,36.05,40.91,44.98,47.96,48.11,49.7,52.07,...,125.17,132.84,138.68,146.09,153.98,162.71,169.43,174.56,194.19,223.24

In [24]:
inflationrate = pd.read_csv('inflationrate.csv', sep = ',')
inflationrate.head()

,"Inflation rate, average consumer prices (Annual percent change)",1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,United States,13.5,10.4,6.2,3.2,4.4,3.5,1.9,3.6,4.1,...,1.6,0.1,1.3,2.1,2.4,1.8,1.3,4.7,8,4.1

In [25]:
medianhouseholdincome = pd.read_csv('medianhouseholdincome.csv', sep = ',')
medianhouseholdincome.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"30,636","31,241","32,264","34,076","35,492","37,005","38,885","40,696","41,990","42,228",...,"53,657","56,516","59,039","61,372","61,136","63,179","68,703","68,010","76,330","74,580"

In [56]:
population = pd.read_csv('population.csv', sep = ',')
population = population.transpose()
population = population.rename(columns = {0:'population'})
population = population.iloc[1:, :]
population.head()

     population
1980    227.622
1981    229.916
1982    232.128
1983    234.246
1984    236.307

In [48]:
yearlyavghomeprice = pd.read_csv('yearlyavghomeprice.csv', sep = ',')
yearlyavghomeprice = yearlyavghomeprice.transpose()
yearlyavghomeprice = yearlyavghomeprice.rename(columns = {0:'yearlyavghomeprice'})
yearlyavghomeprice.head()

      yearlyavghomeprice
2000         123517.7944
2001         132509.4184
2002         141721.2079
2003         152557.0189
2004         166882.4914

In [55]:
yearlyavghomeprice = yearlyavghomeprice.transpose()
y = yearlyavghomeprice.rename(columns = {0:'yearlyavghomeprice'})
y.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
yearlyavghomeprice,123517.7944,132509.4184,141721.2079,152557.0189,166882.4914,186371.6033,202873.1908,204756.7047,192110.3893,174397.4903,...,179754.747,189324.2038,200886.9902,212927.3593,226457.4287,237800.1583,252596.4888,290717.3739,334269.92,340890.306